@using oforms.Models
@using Orchard.ContentManagement
@using oforms.HtmlHelpers

@{
    ContentItem contentItem = Model.ContentItem;
    var form = (OFormPart)contentItem.Get(typeof(OFormPart));
    WorkContext.Layout.Title = form.Name;
}
 
@helper Captcha(){
    var random = new Random();
    @Html.Image(Url.Action("GenerateCaptcha", "Home"), "captcha", new { c = random.Next() });
    <br />
    @Html.TextBox(oforms.OFormGlobals.CaptchaKey, null, new { remote = Url.Action("ValidateCaptcha"), @class = "required" });
    }
           
@using (Html.BeginFormAntiForgeryPost(
                                        String.IsNullOrEmpty(form.Action) ? Url.Action("SubmitForm", "Home") : form.Action,
                                        form.Method == "POST" ? FormMethod.Post : FormMethod.Get,
                                        new { @id = form.Name, enctype = form.CanUploadFiles ? "multipart/form-data" : null }
                                    )
       )
{
    @Html.Hidden(oforms.OFormGlobals.NameKey, form.Name)
    @Html.Raw(form.InnerHtml.Replace("{captcha}", Captcha().ToString()))
}

@{ /* DO NOT REMOVE THE LINES BELOW, IF YOU LIKE THIS MODULE, SUPPORT IT AND GET A LICENSE!!! http://extendorchard.co.uk/license-oforms */}
@{ /* if you really can't pay you can use class oforms to hide the below div, the the link should stay, it is illegal to remove it */}
@if (!ViewBag.validSn){@Html.Raw("<div class='oforms'><a href='http://extendorchard.co.uk' target=_blank>Extend Orchard</a></div>")}

@{
    String validatorCollectorString = new Validator()
        .ValidationRuleCollector(form.ValRequiredFields, "required")
        .ValidationRuleCollector(form.ValEmail, "email")
        .ValidationRuleCollector(form.ValNumbersOnly, "number")
        .ValidationRuleCollector(form.ValUrl, "url")
        .ValidationRuleCollector(form.ValDate, "date")
        .RenderValidator();
}


@{
    Style.Require("ValidatorCss");
    Script.Require("jQuery").AtHead();
    Script.Require("ValidatorAdditional");
}

@using (Script.Foot())
{
   
    if (!string.IsNullOrEmpty(ViewBag.culture) && ViewBag.culture != "en")
    {
        Script.Include("validateLocalization/messages_" + ViewBag.culture + ".js");
    }        
    
    <script type="text/javascript">
    //<![CDATA[
	(function($) {
        $(document).ready(function() {
            $.ajaxSetup({ async: false });
            $('#@form.Name').validate({
                rules: {	                            
			            @Html.Raw(validatorCollectorString)
                },
                onkeyup: false,
                messages: {
                    @oforms.OFormGlobals.CaptchaKey: {
                        remote: 'Incorrect captcha'
                    }
                }
            });
        });
	})(jQuery);
	//]]>
    </script>
}

